.body{
    font-family: 'Roboto', sans-serif;
    text-transform : uppercase;

}

.nav-item{
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}
.dropdown-item{
     letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}
.my_footer{
background-color : CornflowerBlue;
height :60px;
}
.my_footer p{
    padding-top : 20px;
    font-size : 14px;
}
.my_image{
    width : 100%;
    height : auto;
}
.my_row_class{
    padding-top : 15px;
}
.my_row_class .mx_auto {
    color:red;
    font-size : 12px;
}
.my_bottom_margin{
    margin-bottom : 10px;
}
.card-body h4{
    font-size : 14px;
    text-transform : uppercase;
    letter-spacing : .2em;
}
/*** Product ***/
.my_prod_row_class{
    padding-top : 15px;
    padding-bottom : 20px;
}
.my_prod_row_class .mx_auto{
    color : #000;
    font-size : 12px;
    text-decoration :none;
}
.my_prod_tittle{
    font-size : 30px;
    text-transform : uppercase;
    letter-spacing : .1em;
    padding-top : 15px;
    padding-bottom : 10px;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
  }
.my_prod_text{
    padding-right : 20px;
}


.my_prod_warn{
color : red;
animation: 1s anim-flipX ease infinite;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
/*** Search ***/
.my_search_text {
    padding-top :20px;
}
/*** Crat ***/
.my_custom_table{
    min-width : 400px;
    font-size : 14px;
}
.my_custom_thead{
    font-weight : normal;
    text-transform : uppercase;
    letter-spacing : 0.5em;
    background-color : #f8f8fa!important;
}
.custom_a{
    text-decoration : none;
}
.custom_icon {
    text-decoration : none;
    color : #868e96!important;
}
.my_custom_buttom {
    margin-top : 5px;
}
